<div class="notice notice-error">
    <h3>
        You are almost ready to start using
        {{ plugin_data.Name }}.
    </h3>
    <p>
        {{ plugin_data.Name }}
        requires an active subscription at
        <a href="https://www.aspose.cloud/"><b>aspose.cloud</b></a>
        which is completely FREE for our WordPress users. No Sign Up needed.
    </p>
    <h1>
        <a class="button button-primary button-hero" href="{{ activation_url }}">
            <b>Enable FREE and Unlimited Access</b>
        </a>
    </h1>
    <p style="font-size: xx-small">
        Your website URL <i>{{ site_url }}</i>
        and admin email <i>{{ admin_email }}</i>
        will be sent to <i>aspose.cloud</i>.
        Check our
        <a href="https://company.aspose.cloud/legal/privacy-policy">privacy policy</a>.
    </p>
</div>
